<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Essence la moins chère mon pote.</title>
  </head>
  <body>
    <form  method="post">
      <input type="checkbox" id="Gazole" name="Gazole" value="Gazole">
      <label for="Gazole">Gazole</label>

      <input type="checkbox" id="SP95" name="SP95" value="SP95">
      <label for="SP95">SP95</label>

      <input type="checkbox" id="SP98" name="SP98" value="SP98">
      <label for="SP98">SP98</label>

      <input type="submit"  value="Envoyer">
    </form>
  </body>
</html>
