<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <script type="text/javascript">
    let longittude = parseFloat("{{longittude}}")
    let lattitude = parseFloat("{{lattitude}}")
    </script>
    <meta charset="utf-8">
    <title>Essence la moins chère mon pote.</title>
  </head>
  <body>
    <div id='map' style='width: 400px; height: 300px;'></div>
  </body>
</html>
<script type="module" src="../static/main.js"></script>
